<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">

Access-Control.Allow-Origin : *

<dom-module id="login-design">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
        text-align: center; 
      }
      paper-card{
        width: 400px;
        height: 320px;
        text-align:left;
        padding: 2em ;

      }      
      paper-card .card-actions{
        padding-top:2rem;
        text-align: right ;
      }
      paper-card .card-header{
        font-size: 2em;
        color: var(--paper-grey-700)
      }
      paper-card .card-header iron-icon{
        height: 2em;
        width: 2em;
        color: var(--paper-blue-100);
      }
      paper-button[raised]{
        background-color: var(--app-primary-color);
        color: white;
      }
      paper-button{
        color: var(--paper-red-400);
      }
      app-header { 
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      /* iconos : https://vaadin.com/directory/component/polymerelementsiron-icons/overview */
    </style>

    <app-header>
      <app-toolbar>
        <div main-title> BBVA </div>
      </app-toolbar>
    </app-header>

    <div class="row" hidden={{logado}}>
      <div class="card-header">
        <h3>Bienvenido</h3>
      </div>
    </div>

    
    
    <paper-card  elevation="5" animated-shadow="false" hidden$={{logado}}>
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon>
            Crear cuenta
      </div>


      <form is="iron-form" id="form">
        <div class="card-content"> 
          <paper-input label="Email" value={{email}} type="email" required auto-validate error-message="Introuce un correo valido"></paper-input>
          <paper-input required label="Contraseña" value={{password}} type="password" required auto-validate error-message="Olvidaste la contraseña"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised on-click="login" id="login"> Login </paper-button>
          <paper-button> SignUp </paper-buton>
        </div>
      </form> 
    </paper-card> 

    <div class="row" hidden$="{{!logado}}">
      <span>Bienvenido a las aplicacione</span>
    </div>


    <iron-ajax
      id="loginUser"
      content-type="application/json"
      method="post"
      dataType: 'jsonp'
      crossDomain: true
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="handleAJAXUserResponse"
      on-error="handleUserError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class loginAppD extends Polymer.Element {
      static get is() { return 'login-design'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: String,
          },
          logado: {
            type: Boolean,
            value: false
          },
          error: String
        }    
      }
      login(){
        console.log("diste click")
        this.$.loginUser.url = "http://localhost:3000/Login";
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        this.$.loginUser.body = JSON.stringify(loginData);
        console.log(this.$.loginUser.body);
        this.$.loginUser.generateRequest();
        console.log('Petición enviada');
      }
      //·tutos
      _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
      }
      postLogin() {
        this.$.registerLoginAjax.url = 'http://localhost:3001/sessions/create';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }
      //finish

      handleAJAXUserResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        this.logado = true;
      }
      handleUserError(error){
        console.log('Hubo un error');
        alert('Datos incorrectos, Por favor verifique');
        console.log(error);

      }
    }
   

    window.customElements.define(loginAppD.is, loginAppD);
  </script>
</dom-module>